NODE_ENV=production

TELEGRAM_BOT_TOKEN=8368059032:AAEJop0T4Q2D7hiN9gSLyKktlk-fNPRbm6I

DATABASE_URL='postgresql://neondb_owner:npg_ovkBJ3n1uENM@ep-noisy-flower-act3m10k-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

LOG_LEVEL=info


